DB_USER=postgres
DB_PASSWORD=EXAMPLEPASSWORD
DB_HOST=localhost
DB_PORT=5432
DB_NAME=market_risk
API_DB_USER=postgres
API_DB_PASSWORD=your_rds_password
API_DB_HOST=your_rds_endpoint
API_DB_PORT=5432
API_DB_NAME=market_risk